
.header-bg {
  background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
}

.banner-bg {
  background-image: url('/assets/background/banner-bg.png');
  background-repeat: no-repeat;
  background-size: cover !important;
  background-position: center;
  // min-height: 63em;
}

// .banner-bg::before{
//   content: "";
//   position: absolute;
//   bottom: 0;
//   left: 0;
//   width: 100%;
//   height: 50px; /* Adjust the height of the blur effect as needed */
//   backdrop-filter: blur(10px) !important; /* Adjust the blur radius as needed */
//   background: rgba(255, 255, 255, 0.103); /* Adjust the overlay color and opacity */
//   pointer-events: none; /* Allows interaction with the content behind the overlay */
//   z-index: -1; /* Place the overlay behind the content */
// }

.service-bg {
  background-image: url("./assets/background/services-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.about-bg {
  background-image: url("./assets/background/about-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media(min-width: 430px) {

  .team-bg {
    background-image: url("./assets/background/team-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom !important;
    width: 100% !important;
  }  

}
@media(max-width: 430px)  {
  #bg-blur {
   display: none;
  }
  .team-bg {
    background-image: url("./assets/mobileNav/team/Team BG.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom !important;
    width: 100% !important;
    min-height: 60vh;
  }
  .main-nav-setting {
    background-image: url("./assets/mobileNav/team/Frame.png") !important;
    background-repeat: no-repeat;
  }
  
}



.tokenomic-lines {
  background-image: url("./assets/background/lines.png");
  background-repeat: no-repeat;
  background-position-y: 18vh !important;
  background-size: contain;
  width: 100% !important;
}

.tokenomic-lines {
  background-image: url("./assets/background/lines.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.mob-token .tokenomics-bg-mob {
  background-image: url('./assets/mobileNav/tokenomics/waves-tokenomics.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}

.tokenomics-bg {
  background-image: url("./assets/background/Tokenomics.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.roadmap-bg {
  background-image: url("./assets/images/roadmap.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}


.partners-bg {
  background-image: url("./assets/background/partners-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;

  @media (max-width: 768px) {
    background-image: url("./assets/background/partners-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
  }

  .partners-card {
    // color: #2ebd85;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    line-height: 48px;
    text-transform: capitalize;
    text-align: center;
  }
}

.faq-bg {
  background-image: url("./assets/background/faq_bg_star.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .faqitem-bg {
    background: linear-gradient(270deg, #2ebd85 0%, #1cb2e5 100%);
    text-decoration: none;
    color: #FFF;

    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    ;
  }

  .openitem-bg {
    background: linear-gradient(0deg, #ededed 0%, #ffffff 100%);
    box-shadow: 4px 6px 7px rgba(0, 0, 0, 0.19);
    mix-blend-mode: normal;
  }

  // MOB HEADER
  .mob-screen-nav {
    display: none !important;
  }

  .input-faq {
    background: linear-gradient(270.16deg,
        #1f2630 -0.23%,
        #2e3641 48.46%,
        #3e4754 99.8%);
    mix-blend-mode: normal;
    opacity: 0.72;
    border-radius: 10px;
    border-color: #1cb2e5;
    border-width: 2px;
  }

  .subscribe-btn {
    background: linear-gradient(270deg, #2ebd85 0%, #1cb2e5 100%);
    mix-blend-mode: normal;
    opacity: 1;
    border-radius: 10px;
    border-color: #1cb2e5;
    border-width: 1px;
  }
}

.menu {
  font-size: 20px !important;
  font-weight: 500 !important;
}

.menu:hover {
  color: #09b471 !important;
  font-size: 20px !important;
  font-weight: 500 !important;
}

.contact-bg {
  background-image: url("./assets/background/contact-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  input {
    border: 0px;
    color: var(--white);
    background: none;
    height: 1.4375em;
    outline: none;
    width: 100%;
  }

  textarea {
    border: 0px;
    color: var(--white);
    background: none;
    outline: none;
    width: 100%;

    &::-webkit-scrollbar {
      width: 5px;
      cursor: pointer;
    }

    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px #89e1ff;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #0095c8;
    }
  }
}

.investors-bg {
  background-image: url("./assets/background/contact-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.footer-bg {
  background-image: url("./assets/background/Stars.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;





  @media screen and (max-width: 767px) {
    background-size: 230%;
  }
}

.hide {
  -webkit-animation: fadeinout 0.3s linear forwards;
  animation: fadeinout 0.3s linear forwards;
}

.partners {
  animation-name: new1;
  animation-duration: 0ms;
  animation-delay: 0ms;
  animation-iteration-count: 2;
}

@keyframes new1 {
  from {
    margin-top: 100px;
  }

  to {
    margin-top: 10px;
  }
}

@-webkit-keyframes fadeinout {
  0% {
    opacity: 0.6;
  }

  50% {
    opacity: 0.2;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeinout {
  0% {
    opacity: 0.6;
  }

  50% {
    opacity: 0.2;
  }

  100% {
    opacity: 0;
  }
}

h1 {
  font-size: 50pt;
}

h2 {
  font-size: 40pt;
}

h3 {
  font-size: 30pt;
}

h5 {
  font-size: 20pt;
}

h6 {
  font-size: 18pt;
}

.show {
  animation: display 0.3s linear forwards;
  transition: ease-in all 0.30s;
}

// .open-transition {
//   max-height: 100px;
//   opacity: 0;
//   overflow: hidden;
//   transition: max-height 0.3s ease, opacity 0.3s ease;
//   background-color: #01222d;
// }
.image-container {
  overflow: hidden;
}

.concordium_Image:hover {
  content: url("./assets/logo/partners/concordiumHover.png");
  width: 310px;
  height: 307;
}

.eva_hover:hover {
  content: url("./assets/logo/partners/DevelopersHover.png");
  width: 310px;
  height: 307;
}

.startup_hover:hover {
  content: url("./assets/logo/partners/startup-hover.png");
  width: 310px;
  height: 307;
}
.applicated_hover:hover {
  content: url("./assets/logo/partners/Applicate.png");
  width: 310px;
  height: 307;
}

.mempol_hover:hover {
  content: url("./assets/logo/partners/mempohover.png");
  width: 310px;
  height: 307;
}

.accelerated_hover:hover {
  content: url("./assets/logo/partners/AcceleratedHover.png");
  width: 310px;
  height: 307;
}

@-webkit-keyframes display {
  0% {
    opacity: 100;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

.faq-transition {
  max-height: 110px;
  overflow: hidden;
  transition: max-height 0.5s ease;
}

.ant-collapse-content-box {
  position: relative;
  width: 101.9%;
  right: 7.5px;
  border-radius: 8px !important;
  padding-left: 8px !important;
  padding-right: 8px !important;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
  font-weight: 300 !important;
  font-size: 16px !important;
  line-height: 24px !important;
  --tw-text-opacity: 1 !important;
  color: rgb(0 0 0 / var(--tw-text-opacity));
  display: flex;
}

.cutom-tab-panel .ant-collapse-content {
  transition: max-height 0.2s ease-in-out;
  overflow: hidden;
}

/* Set a max-height for the panel content */
.cutom-tab-panel .ant-collapse-content>.ant-collapse-content-box {
  max-height: 100%;
  padding: 0;
}

.cutom-tab-panel {
  border-radius: 4 !important;
  margin-bottom: 10 !important;
  border: 0 !important;
  overflow: 'hidden' !important;
}

.ant-collapse-header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center !important;
  border-style: solid;
  border-radius: 12px !important;
  border: 3px solid var(--color-website-blue-gradient, #8BE2FF);
  font-size: 19px;
  line-height: 28px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background: linear-gradient(270deg, #2ebd85 0%, #1cb2e5 100%);
  text-decoration: none;
  color: #FFF !important;
  text-decoration-line: none;
}

@keyframes display {
  0% {
    opacity: 0.2;
  }

  50% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}

.hr-gradient {
  position: relative;
  padding: 3em 0;

  &:after,
  &:before {
    top: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    height: 5px;
    background: url(./effect.svg) no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: screen;
    mix-blend-mode: screen;
    content: "";
  }
}

.gradient-border-bg {
  background: linear-gradient(90deg, #3e4754 0%, #1f2630 100%) padding-box,
    linear-gradient(45deg, #8be2ff, #2cc2f5) border-box;
  border: 2px solid transparent;
  border-radius: 10px;
  outline: none;
}

.gradientbackground-release {
  background-color: #0dcb80;
  background-image: linear-gradient(90deg,
      #0dcb80 0%,
      #09b471 12%,
      #057e4f 42%,
      #053e52 68%,
      #022835 88%,
      #01222d 100%);
}

html {
  overflow-x: hidden !important;
}

// .divider-bottom{

// }